<footer>
    <div class="container mx-auto py-6 text-center">
        <p class="text-gray-600">© 2023 Websolutions. All rights reserved.</p>
        <div class="flex justify-center space-x-4">
            <a href="https://twitter.com" target="_blank" class="text-gray-600 hover:text-blue-500">Twitter</a>
            <a href="https://facebook.com" target="_blank" class="text-gray-600 hover:text-blue-500">Facebook</a>
            <a href="https://linkedin.com" target="_blank" class="text-gray-600 hover:text-blue-500">LinkedIn</a>
        </div>
    </div>
</footer>